.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.page-wrapper h1 {
  margin-bottom: 2rem;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  gap: 2rem;
  margin: auto;
}