.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.name {
  font-weight: 600;
}

.price {
  margin-bottom: 0.5rem;
}

.wrapper img {
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.wrapper button {
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  transition: background-color 80ms;
}

.remove-from-cart {
  background-color: var(--color-primary);
  color: white;
}

.remove-from-cart:hover {
  background-color: rgb(49, 58, 49);
}

.add-to-cart {
  color: var(--color-primary);
  background-color: rgba(64, 77, 64, 0.15);
}

.add-to-cart:hover {
  background-color: rgba(64, 77, 64, 0.1);
}