.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.name {
  font-weight: 600;
}

.price {
  margin-bottom: 0.5rem;
}

.wrapper img {
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.add-to-cart {
  color: var(--color-primary);
  background-color: rgba(64, 77, 64, 0.15);
}

.add-to-cart:hover {
  background-color: rgba(64, 77, 64, 0.1);
}